<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--LOG SQL -->
    <add key="LOG_PATH" value="..\..\..\..\LOG" />
    <add key="IMPORT_PATH" value="..\..\..\..\FileImport" />
    <add key="EXPORT_PATH" value="..\..\..\..\FileExport" />
    <add key="FTP_URL" value="ftp://127.0.0.1/" />
    <add key="FTP_PORT" value="" />
    <add key="FTP_IMPORT_PATH" value="IN/" />
    <add key="FTP_EXPORT_PATH" value="OUT/" />
    <add key="FTP_ID" value="ftp_user" />
    <add key="FTP_PASS" value="123" />

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>